<template>
  <div>
    <p>Car Color preferences</p>
    <input type="text" v-model="preference" />
    <p>
    <router-link :to="{ name: 'conf_pref', params: { pref: 'car' }}">Back</router-link>
    </p>
    <p>
    <button v-on:click="nextStep()">Continue</button>
    </p>
  </div>
</template>
<script>
export default {
  data: function () {
    return {
      preference: ''
    }
  },
  methods: {
    nextStep: function () {
      // 1. check if form pass validation
      // 2. build event data
      // 3. emit the final values
      const eventData = {
        colorSummary: {
          preferences: this.preference,
          valid: this.preference !== ''
        }
      }
      this.$emit('completed', eventData)
      this.$router.push({ name: 'conf_pref', params: { pref: 'summary' } })
    }
  }
}
</script>
