<template>
  <div>
    <p>Car preferences</p>
    <input type="text" v-model="preference" />
    <button v-on:click="nextStep()">Continue</button>
  </div>
</template>
<script>
export default {
  props: {
    initialData: Object
  },
  data: function () {
    return {
      preference: this.initialData.preference
    }
  },
  methods: {
    nextStep: function () {
      // 1. check if form pass validation
      // 2. build event data
      // 3. emit the final values
      const eventData = {
        carSummary: {
          preferences: this.preference,
          valid: this.preference !== ''
        }
      }
      this.$emit('completed', eventData)
      this.$router.push({ name: 'conf_pref', params: { pref: 'car-color' } })
    }
  }
}
</script>
