<template>
    <div id="posts">
        <button
            v-for="tab in tabs"
            v-bind:key="tab"
            v-bind:class="['tab-button', { active: currentTab === tab }]"
            v-on:click="currentTab = tab"
        >{{ tab }}</button>

        <keep-alive>
            <component
            v-bind:is="currentTabComponent"
            class="tab"
            ></component>
        </keep-alive>
    </div>
</template>
<style lang="scss">
.tab-button {
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
}
.tab-button:hover {
  background: #e0e0e0;
}
.tab-button.active {
  background: #e0e0e0;
}
.tab {
  border: 1px solid #ccc;
  padding: 10px;
}
.posts-tab {
  display: flex;
}
.posts-sidebar {
  max-width: 40vw;
  margin: 0;
  padding: 0 10px 0 0;
  list-style-type: none;
  border-right: 1px solid #ccc;
}
.posts-sidebar li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.posts-sidebar li:hover {
  background: #eee;
}
.posts-sidebar li.selected {
  background: lightblue;
}
.selected-post-container {
  padding-left: 10px;
}
.selected-post > :first-child {
  margin-top: 0;
  padding-top: 0;
}
</style>
<script>
import PostArchive from '../Components/PostArchive.vue'
import PostList from '../Components/PostList.vue'

export default {
  name: 'Post',
  components: {
    PostArchive,
    PostList
  },
  data: function () {
    return {
      currentTab: 'List',
      tabs: ['List', 'Archive']
    }
  },
  computed: {
    currentTabComponent: function () {
      return 'post-' + this.currentTab.toLowerCase()
    }
  }
}
</script>
